@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Lato, Helvetica Neue, helvetica, sans-serif;
  font-weight: 400;
}

.content-wrapper {
  --c-content-wrapper-padding-inline: 1.25rem;
  --content-width: 65.625rem;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: calc(
    var(--content-width) + var(--c-content-wrapper-padding-inline) * 2
  );
  padding-left: var(--c-content-wrapper-padding-inline);
  padding-right: var(--c-content-wrapper-padding-inline);
}

.overflow-wrap {
  overflow-wrap: break-word;
  word-break: break-word;
}

.dot:before {
  background-color: #a0a0a0;
  content: "";
  display: inline-block;
  height: 0.25rem;
  line-height: 1;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 0.25rem;
}

.grid-area {
  display: grid;
  column-gap: 1.875rem;
  grid-template: "top-news latest-news";
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-item-1 {
  grid-area: top-news;
  grid-column: span 3;
}
.grid-item-2 {
  grid-area: latest-news;
  grid-column: span 9;
}

.grid-top-news {
  column-gap: 1.25rem;
  grid-template-columns: repeat(2, 1fr);
}

.grid-top-late {
  grid-column: span 9;
}

.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.autor-grid {
  grid-template-areas: "publicationDate author comments";
  grid-template-columns: auto 1fr auto;
  align-items: center;
  color: #a0a0a0;
  display: grid;
  flex: 1 1 auto;
  min-width: 0;
}
.autor-grid-1 {
  grid-area: publicationDate;
}
.autor-grid-2 {
  grid-area: author;
}
